<!DOCTYPE html>
<html lang="en" oncontextmenu="return false">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/schulte.css">
    <script src="js/vue.min.js"></script>
    <title>Schulte Table</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body oncontextmenu="return false">
   <div id="app" class="wrapper w3-container w3-padding-0 w3-margin-0"
         tabindex="-1"
         @mousemove="appendMouseMove($event)"
         @keyup.esc="onEsc()"
         @keydown.space="onSpace()"
         @keyup.enter="if(dialogShowed) hideDialog()"
         v-focus v-cloak>
        <div class="round-display"
            v-if="gameStarted && showRounds && parseInt(rounds) > 1"
        >
            {{currentRoundNumber()}} / {{rounds}}
        </div>
        <div class="schulte"
            :class="[spinTable ? gameStarted && ('spin-' + spinTableSpeed) : '']"
            :style="{ width: tableWidth, height: tableHeight }">
        <div v-for="r in gridRange" class="row" :style="{height: rowHeight}">
            <div v-for="c in gridRange" class="cell"
                 :style="{width: colWidth, fontSize: cellFontSize }"
                 @mouseover="setHoveredCell(r*gridSize + c, $event)"
                 @mouseleave="hoveredCell = -1"
                 @mousedown="setClickedCell(r*gridSize + c, $event)"
                 :class="{'normal-cell' : (!showHover && !showClickAnimation) || !gameStarted,
                          'right-click' : leftRightClick && cells[r*gridSize + c].rightClick && !tracedCell(r*gridSize+c),
                          'left-click' : leftRightClick && !cells[r*gridSize + c].rightClick && !tracedCell(r*gridSize+c),
                          'hovered-cell': showHover && (hoveredCell == r*gridSize + c) && gameStarted,
                          'correct-cell': showClickAnimation && (clickedCell == r*gridSize + c) && clickedCell == correctIndex && gameStarted,
                          'wrong-cell'  : (showClickAnimation && (clickedCell == r*gridSize + c) && clickedCell != correctIndex && gameStarted && !(frenzyMode && frenzyCount == 1) && !hoverMode) || cells[r*gridSize + c].isReact,
                          'traced-cell' : tracedCell(r*gridSize + c) && showTrace &&  gameStarted,
                          'transition' : gameStarted && !shuffleSymbols && !(frenzyMode && frenzyCount == 1) && !leftRightClick && showTransitions
                          
                          }"
                >
                <span :class="[cells[r*gridSize + c].cssClasses]"
                      :style="cells[r*gridSize + c].colorStyle"
                      :id="'cell.'+r+'.'+c"
                      style="cursor: default;">
                    {{ cells[r*gridSize + c].symbol }}
                </span>
            </div>
        </div>
        </div>

        <div class="center-dot" v-if="showCenterDot"></div>

        <div class="w3-modal"
             :class="[dialogShowed ? 'display-block' : 'display-none']">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="min-width: 350px; max-width: 800px;">
                <header class="w3-container w3-dark-grey w3-center">
                    <span @click="hideDialog"
                          class="w3-button w3-display-topright w3-xxlarge w3-dark-grey w3-hover-dark-grey w3-hover-text-black"
                          style="padding: 0 10px 0 0;"
                          title="Resume Test">
                    &times;
                    </span>
                    <h2>Schulte Table Test</h2>
                </header>

                <div class="w3-bar w3-light-grey w3-border-bottom">
                    <button class="tablink w3-bar-item w3-button"
                            @click="changeDialogTab('settings')"
                            :class="[settingsTabVisible  ? 'w3-light-grey w3-text-black w3-hover-light-grey' : 'w3-grey w3-hover-light-grey']">
                        Settings
                    </button>
                    <button class="tablink w3-bar-item w3-button"
                            @click="changeDialogTab('stats')"
                            :class="[statsTabVisible ? 'w3-light-grey w3-text-black w3-hover-light-grey' : 'w3-grey w3-hover-light-grey']">
                        Stats
                    </button>
                    <button class="tablink w3-bar-item w3-button"
                            @click="changeDialogTab('mousemap')"
                            :class="[mousemapTabVisible ? 'w3-light-grey w3-text-black w3-hover-light-grey' : 'w3-grey w3-hover-light-grey']">
                        Mouse Map
                    </button>
                </div>

                <div class="w3-container w3-margin w3-padding-0" v-if="settingsTabVisible">
                    <div class="w3-row">
                        <div class="w3-col w3-third">
                            <label for="grid_size" class="w3-text-black w3-block">
                                <b>Grid</b>
                            </label>
                            <select id="grid_size"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width: 70%"
                                    v-model="gridSize">
                                <option v-for="r in Array.from({length: 29}, (x,i) => (i+2))" :value="r">{{r}} x {{r}}</option>
                            </select>
                        </div>

                        <div class="w3-col w3-third">
                            <label for="rounds" class="w3-text-black w3-block">
                                <b>Rounds</b>
                            </label>
                            <select id="rounds"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width:80%"
                                    v-model="rounds">
                                    <option value="1">1 round</option>
                                    <option value="2">2 rounds</option>
                                    <option value="3">3 rounds</option>
                                    <option value="5">5 rounds</option>
                                    <option value="10">10 rounds</option>
                                    <option value="25">25 rounds</option>
                                    <option value="100">100 rounds</option>
                            </select>
                        </div>

                        <div class="w3-col w3-third">
                            <label for="groups" class="w3-text-black w3-block">
                                <b>Groups</b>
                            </label>
                            <select id="groups"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width: 70%"
                                    v-model="groupType">
                                <option value="0">1 group</option>
                                <option value="1">1 group (colored)</option>
                                <option value="2">2 groups</option>
                                <option value="3">3 groups</option>
                                <option value="4">4 groups</option>
                                <option value="5">5 groups</option>
                            </select>
                        </div>
                    </div>

                    <div class="w3-row" >
                        <div class="w3-col w3-third">
                            <input class="w3-check" type="checkbox" v-model="inverseCount" :disabled="variousCounts">
                            <label class="w3-validate">Inverse Count </label>
                            <br>
                            <input class="w3-check" type="checkbox" v-model="divergentCount" :disabled="variousCounts">
                            <label class="w3-validate">Divergent Count </label>
                            <br>
                            <input class="w3-check" type="checkbox" v-model="variousCounts">
                            <label class="w3-validate">Various Counts </label>
                            <br>
                            <input class="w3-check" type="checkbox" v-model="collateGroups">
                            <label class="w3-validate">Collate Groups </label>
                            <br>
                            <label class="w3-validate">Offset: </label>
                            <input id="nOffset" v-model="nOffset" style="width: 50%"/>
                        </div>
                        <div class="w3-col w3-third">
                            <input class="w3-check" type="checkbox" v-model="roundBreaks" :disabled="parseInt(rounds) === 1">
                            <label class="w3-validate">Round Breaks</label>
                            <br>
                            <input class="w3-check" type="checkbox" v-model="showRounds" :disabled="parseInt(rounds) === 1">
                            <label class="w3-validate">Show Round</label>
                        </div>
                        <div class="w3-col w3-third">
                            <div class="w3-container w3-padding-0" style="margin-top: 10px; width: 90%; float: left;">
                                <div class="color-num"
                                      v-if="groupCount == 1"
                                      v-html="groupRange(0)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[0]"
                                      v-if="groupCount > 1"
                                      v-html="groupRange(0)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[1]"
                                      v-if="groupCount > 1"
                                      v-html="groupRange(1)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[2]"
                                      v-if="groupCount > 2"
                                      v-html="groupRange(2)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[3]"
                                      v-if="groupCount > 3"
                                      v-html="groupRange(3)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[4]"
                                      v-if="groupCount > 4"
                                      v-html="groupRange(4)"></div>
                                <br>
                                <input class="w3-check" type="checkbox" v-model="originalColors" style="margin-top: 5px;">
                                <label class="w3-validate">Original Colors </label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="w3-row" >-->
                        <!--<div class="w3-col w3-half">-->
                            <!--<input class="w3-check" type="checkbox" v-model="divergentCount" style="margin-top: 5px;">-->
                            <!--<label class="w3-validate">Divergent Count </label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--
                    <hr style="margin: 10px 0">

                    <div class="w3-row" >
                        <div class="w3-col w3-half">
                            <input class="w3-check" type="checkbox" v-model="timerMode" style="margin-top: 5px;">
                            <label class="w3-validate">Timer Mode </label>
                        </div>
                        <div class="w3-col w3-quarter" v-if="timerMode">
                            <label for="minutes" class="w3-text">Minutes</label>
                            <select id="minutes"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width: 70%"
                                    v-model="timerMinutes">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                    </div>
                    -->

                    <hr style="margin: 10px 0">

                    <div class="w3-row w3-margin-0">
                        <div class="w3-container w3-col w3-third w3-padding-0">
                            <p>
                                <input class="w3-check" type="checkbox" v-model="showHover">
                                <label class="w3-validate">Show Hover</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="showTrace">
                                <label class="w3-validate">Show Correct Cells</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="showClickResult">
                                <label class="w3-validate">Show Click Result</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="clearCorrect">
                                <label class="w3-validate">Empty Correct Cells</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="showCenterDot">
                                <label class="w3-validate">Show Center Dot</label> </p>
                            <p>
                                <label class="w3-validate">Size: </label>
                                <input id="tableSize" v-model="tableSize" style="width: 50%">
                                <label class="w3-validate">px</label> </p>
                            <p>
                                <label class="w3-validate">Font: </label>
                                <input id="fontSize" v-model="fontSize" style="width: 50%">
                                <label class="w3-validate">%</label> </p>
                        </div>

                        <div class="w3-container w3-col w3-third w3-padding-0">
                            <p>
                                <input class="w3-check" type="checkbox" v-model="turnSymbols">
                                <label class="w3-validate">Turn Numbers</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="spinSymbols">
                                <label class="w3-validate">Spin Numbers</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="spinTable">
                                <label class="w3-validate">Spin Table</label>
                                <select id="frenzy"
                                    class="w3-select w3-border w3-padding-small" style="width: 30%"
                                    v-model="spinTableSpeed">
                                    <option value="speed1">Low</option>
                                    <option value="speed2">Medium</option>
                                    <option value="speed3">High</option>
                                    <option value="speed4">CCW Low</option>
                                    <option value="speed5">CCW Medium</option>
                                    <option value="speed6">CCW High</option>
                                </select>
                            </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="noErrors">
                                <label class="w3-validate">No Errors</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="useClickSound">
                                <label class="w3-validate">Click Sound</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="startOnClick">
                                <label class="w3-validate">Start Timer on Click</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="leftRightClick" :disabled="hoverMode">
                                <label class="w3-validate">Left/Right Click Colors</label> </p>
                        </div>

                        <div class="w3-container w3-col w3-third w3-padding-0">
                            <p>
                                <input class="w3-check" type="checkbox" v-model="shuffleSymbols">
                                <label class="w3-validate">Shuffle Numbers</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="frenzyMode" :disabled="blindMode">
                                <label class="w3-validate">Frenzy Mode</label> <select id="frenzy"
                                    class="w3-select w3-border w3-padding-small" style="width: 30%"
                                    v-model="frenzyCount">
                                    <option value="1">1 (React)</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select></p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="hideReact" :disabled="blindMode || frenzyCount > 1">
                                <label class="w3-validate">React: Hide Numbers</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="hoverMode" :disabled="leftRightClick">
                                <label class="w3-validate">Hover Mode</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="blindMode" :disabled="frenzyMode">
                                <label class="w3-validate">Blind Mode</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="flashlightMode">
                                <label class="w3-validate">Flashlight Mode</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="mathMode" :disabled="lettersMode">
                                <label class="w3-validate">Math Mode</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="lettersMode" :disabled="mathMode">
                                <label class="w3-validate">Letters Mode</label> </p>
                        </div>
                    </div>
                </div>

                <div class="w3-container w3-margin" v-if="statsTabVisible">
                    <table class="w3-table-all w3-large">
                        <tr>
                            <td>Time</td>
                            <td>{{ stats.resultTimeString() }}</td>
                        </tr>
                        <tr
                            :style="{ fontWeight: stats.totalTime() === personalBests[category()] ? 'bold' : 'normal' }"
                        >
                            <td>Personal Best</td>
                            <td>{{ pbTimeString() }}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{ category() }}</td>
                        </tr>
                        <tr class="w3-pale-green">
                            <td>Correct Clicks</td>
                            <td>{{ stats.totalCorrectClicks() }}</td>
                        </tr>
                        <tr class="w3-pale-red">
                            <td>Wrong Clicks</td>
                            <td>{{ stats.totalWrongClicks() }}</td>
                        </tr>
                    </table>
                    <div class="w3-row" v-if="stats.rounds.length === parseInt(rounds)">
                        <div class="w3-row w3-col"
                             :class="{'w3-half': parseInt(rounds) > 1}"
                             style="margin-top: 5px; overflow-y:scroll; overflow-x:hidden; max-height:250px;">
                            <table v-for="round in parseInt(rounds)" class="w3-table-all w3-hoverable w3-centered">
                                <thead>
                                    <tr class="w3-light-grey" v-if="rounds > 1">
                                        <th></th>
                                        <th>Round {{round}} - {{stats.roundTimeString(round)}}s</th>
                                        <th></th>
                                    <tr class="w3-light-grey">
                                        <th>Group</th>
                                        <th>Number</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tr v-for="stat in stats.roundClicks(round)" :class="{'w3-text-red': stat.err}">
                                    <td>{{stat.groupN + 1}}</td>
                                    <td>{{stat.number}}</td>
                                    <td>{{stat.time}}s</td>
                                </tr>
                            </table>
                        </div>
                        <div class="w3-row w3-col w3-half"
                             style="margin-top: 5px"
                             v-if="parseInt(rounds) > 1 && !gameStarted">
                            <canvas class="round-graph"
                                    width="250" height="250"
                                    ref="roundGraphCanvas" />
                        </div>
                    </div>
                </div>

                <div class="w3-container w3-margin-top w3-center" v-if="mousemapTabVisible">
                    <canvas class="mouse-map"
                            width="300" height="300"
                            ref="mousemap_canvas">
                    </canvas>
                </div>

                <footer class="w3-container w3-light-grey w3-center">
                    <button type="button"
                            class="w3-btn w3-dark-grey w3-text-white w3-xlarge"
                            style="width: 80%; margin: 10px;"
                            @click="hideDialog(); startGame()"
                            ref="btn">
                        Start Test
                    </button>
                </footer>
            </div>
        </div>
    </div>

    <script src="js/schulte.js"></script>
</body>
</html>
